{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domicilios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        .bg-primary {
            background-color: #007bff !important; /* Color azul */
        }
        .text-primary {
            color: #007bff !important; /* Color azul */
        }
        .btn-secondary {
            background-color: #dc3545 !important; /* Color rojo */
            border-color: #dc3545 !important;
            color: #fff !important;
            font-size: 1.2rem;
            padding: 0.8rem 1.5rem;
        }
        .btn-secondary:hover {
            background-color: #c82333 !important; /* Color rojo más oscuro */
            border-color: #c82333 !important;
        }
    </style>
</head>
<body>
    <header class="bg-primary py-3">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#">Domicilios</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'lista_productos' %}">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'lista_clientes' %}">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'estudio_envios' %}">Envíos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mapa_clientes' %}">Mapa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'informacion' %}">Información</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inteligencia_artificial' %}">IA</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

    <footer class="bg-dark text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2024 Domicilios. Todos los derechos reservados.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p>Síguenos en redes sociales:</p>
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
</body>
</html>
