{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h1 class="text-primary mb-4">Estudio de Envíos</h1>
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">Envíos Realizados</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for envio in envios %}
                    <tr>
                        <td>{{ envio.producto.nombre }}</td>
                        <td>{{ envio.cliente.nombre }}</td>
                        <td>{{ envio.fecha }}</td>
                        <td>{{ envio.estado }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2 class="mb-4">Nuevos Envíos</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Registrar Envío</button>
            </form>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'inicio' %}" class="btn btn-secondary">Regresar al Inicio</a>
        <a href="{% url 'lista_productos' %}" class="btn btn-secondary">Ver Productos</a>
    </div>
</div>
{% endblock %}
