{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h1 class="text-primary mb-4">Información sobre Domicilios</h1>
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">¿Qué es nuestro servicio de domicilios?</h2>
            <p>Nuestro servicio de domicilios es una plataforma que conecta a clientes con comercios locales para facilitar la entrega de productos a domicilio. Ofrecemos una solución conveniente y confiable para realizar pedidos desde la comodidad de tu hogar y recibirlos en la puerta de tu casa.</p>
            <p>Trabajamos con una amplia red de establecimientos, desde restaurantes y cafeterías hasta tiendas de abarrotes y farmacias, para brindarte acceso a una variedad de productos y servicios que se adapten a tus necesidades.</p>
        </div>
        <div class="col-md-6">
            <h2 class="mb-4">¿Cómo funciona?</h2>
            <p>Para utilizar nuestro servicio, simplemente selecciona los productos que deseas comprar a través de nuestra plataforma en línea o aplicación móvil. Luego, elige la opción de entrega a domicilio y proporciona la dirección donde deseas recibir tus productos.</p>
            <p>Nuestro equipo de repartidores se encargará de recoger los productos del comercio y entregarlos en la dirección especificada en el menor tiempo posible. Puedes realizar un seguimiento en tiempo real del estado de tu pedido para saber cuándo llegará a tu puerta.</p>
        </div>
    </div>
    <div class="mt-4">
        <h2 class="text-primary mb-3">Contáctanos</h2>
        <p>Si tienes alguna pregunta o comentario sobre nuestro servicio de domicilios, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte y mejorar tu experiencia de compra en línea.</p>
        <p>Puedes comunicarte con nuestro equipo de atención al cliente a través de los siguientes canales:</p>
        <ul>
            <li>Teléfono: +1234567890</li>
            <li>Email: info@domicilios.com</li>
            <li>Chat en vivo: Disponible en nuestro sitio web</li>
        </ul>
    </div>
    <div class="d-flex justify-content-between mt-5">
        <a href="{% url 'inicio' %}" class="btn btn-secondary">Regresar al Inicio</a>
        <a href="{% url 'lista_productos' %}" class="btn btn-secondary">Ver Productos</a>
    </div>
</div>
{% endblock %}
