{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h1 class="text-primary mb-4">Bienvenido a Domicilios</h1>
    <p style="font-size: 16px;">Aquí puedes gestionar tus productos, clientes y envíos.</p>
    <div class="row">
        <div class="col-md-4 mb-4">
            <a href="{% url 'lista_productos' %}" class="btn btn-secondary btn-block">Ver Productos</a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="{% url 'lista_clientes' %}" class="btn btn-secondary btn-block">Ver Clientes</a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="{% url 'estudio_envios' %}" class="btn btn-secondary btn-block">Ver Envíos</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <a href="{% url 'mapa_clientes' %}" class="btn btn-secondary btn-block">Ver Mapa de Clientes</a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="{% url 'informacion' %}" class="btn btn-secondary btn-block">Información</a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="{% url 'inteligencia_artificial' %}" class="btn btn-secondary btn-block">Inteligencia Artificial</a>
        </div>
    </div>

    <!-- Botón o icono para abrir el chatbot -->
    <button id="toggleChatbotButton" class="btn btn-primary btn-lg rounded-circle position-fixed" style="bottom: 20px; right: 20px;">ChatBot</button>

    <!-- Contenedor del chatbot (inicialmente oculto) -->
    <div id="chatbotContainer" style="display: none; position: fixed; bottom: 80px; right: 20px; width: 300px; background-color: #f0f0f0; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
        <!-- Aquí irá el código del chatbot -->
        <div class="container" style="height: 300px; overflow-y: auto;">
            <h1 style="color: #007bff; font-size: 20px;">ChatBot de Domicilios</h1>
            <h2 style="color: #007bff; font-size: 16px;">Estoy aquí para ayudarte</h2>
            <div id="chat-container" style="font-size: 14px; padding: 10px;"></div>
            <textarea id="textInput" placeholder="Escribe tu mensaje..." style="font-size: 16px; width: calc(100% - 20px); margin: 10px; padding: 10px; border-radius: 5px; border: 1px solid #ccc; resize: none; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"></textarea>
            <button onclick="enviarMensaje()" style="font-size: 14px;">Enviar</button>
            <a href="{% url 'inicio' %}" class="btn-home" style="font-size: 14px;">Volver al Inicio</a>
        </div>

        <script>
        function enviarMensaje() {
            var mensaje = document.getElementById("textInput").value.trim();
            if (mensaje === "") {
                return;
            }

            mostrarMensajeUsuario(mensaje);
            mostrarMensajeBot("Estoy procesando tu consulta. Por favor, espera un momento...");

            fetch('http://localhost:11434/api/generate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    model: "llama2",
                    prompt: "Quiero que respondas estrictamente en español como el mejor asistente de domicilios.com del mundo a lo que te voy a decir: " + mensaje,
                    stream: false
                })
            })
            .then(response => response.json())
            .then(data => {
                mostrarMensajeBot(data.response);
                ajustarAlturaCuadroTexto();
            })
            .catch(error => {
                console.error('Error al obtener respuesta del chatbot:', error);
                mostrarMensajeBot("Lo siento, no pude obtener una respuesta en este momento.");
                ajustarAlturaCuadroTexto();
            });

            document.getElementById("textInput").value = "";
        }

        function mostrarMensajeUsuario(mensaje) {
            var chatMessages = document.getElementById("chat-container");
            var messageElement = document.createElement("div");
            messageElement.textContent = "Tú: " + mensaje;
            messageElement.classList.add("user-message");
            chatMessages.appendChild(messageElement);
            chatMessages.scrollTop = chatMessages.scrollHeight; // Hacer scroll hacia abajo para mostrar el último mensaje
        }

        function mostrarMensajeBot(mensaje) {
            var chatMessages = document.getElementById("chat-container");
            var messageElement = document.createElement("div");
            messageElement.textContent = "ChatBot: " + mensaje;
            messageElement.classList.add("bot-message");
            chatMessages.appendChild(messageElement);
            chatMessages.scrollTop = chatMessages.scrollHeight; // Hacer scroll hacia abajo para mostrar el último mensaje
        }

        function ajustarAlturaCuadroTexto() {
            var chatContainer = document.getElementById("chat-container");
            var chatTextInput = document.getElementById("textInput");
            var newHeight = chatContainer.clientHeight - chatTextInput.offsetHeight - 50; // 50 es el padding y margen superior e inferior del cuadro de texto
            chatTextInput.style.height = newHeight + "px";
        }
        </script>
    </div>
</div>

<script>
// Función para mostrar u ocultar el chatbot al hacer clic en el botón
document.getElementById('toggleChatbotButton').addEventListener('click', function() {
    var chatbotContainer = document.getElementById('chatbotContainer');
    if (chatbotContainer.style.display === 'none') {
        chatbotContainer.style.display = 'block';
    } else {
        chatbotContainer.style.display = 'none';
    }
});
</script>

{% endblock %}
