{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h1 class="text-primary mb-4">Lista de Productos</h1>
    <div class="row">
        {% for producto in productos %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="card-text">Precio: ${{ producto.precio }}</p>
                    <a href="{% url 'detalle_producto' producto.id %}" class="btn btn-secondary">Ver Detalles</a>
                    <a href="{% url 'agregar_carrito' producto.id %}" class="btn btn-secondary">Agregar al Carrito</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'inicio' %}" class="btn btn-secondary">Regresar al Inicio</a>
        <a href="{% url 'lista_clientes' %}" class="btn btn-secondary">Ver Clientes</a>
    </div>
</div>
{% endblock %}
