{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h1 class="text-primary mb-4">Lista de Clientes</h1>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.direccion }}</td>
                        <td>{{ cliente.telefono }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'inicio' %}" class="btn btn-secondary">Regresar al Inicio</a>
        <a href="{% url 'lista_productos' %}" class="btn btn-secondary">Ver Productos</a>
    </div>
</div>
{% endblock %}
