{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h1 class="text-primary mb-4">Mapa de Clientes</h1>
    <div class="row">
        <div class="col-md-12">
            <div id="map" style="height: 400px;"></div>
            <script>
                function initMap() {
                    var bogota = {lat: 4.6097, lng: -74.0817};
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 12,
                        center: bogota
                    });

                    // Iterar sobre la lista de clientes para agregar marcadores en el mapa
                    {% for cliente in clientes %}
                        var clienteLatLng = {lat: {{ cliente.latitud }}, lng: {{ cliente.longitud }}};
                        var marker = new google.maps.Marker({
                            position: clienteLatLng,
                            map: map,
                            title: '{{ cliente.nombre }}'
                        });
                        // Opcional: Agregar información adicional al marcador, como el nombre del cliente
                        var infowindow = new google.maps.InfoWindow({
                            content: '<h6>{{ cliente.nombre }}</h6><p>{{ cliente.direccion }}</p>'
                        });
                        marker.addListener('click', function() {
                            infowindow.open(map, marker);
                        });
                    {% endfor %}
                }
            </script>
            <!-- Incluir la API de Google Maps -->
            <script src="https://maps.googleapis.com/maps/api/js?key=TU_API_KEY&callback=initMap" async defer></script>
        </div>
    </div>
    <div class="mt-4">
        <p>Este mapa muestra la ubicación de nuestros clientes en la ciudad. Puedes hacer zoom y navegar para explorar diferentes áreas.</p>
    </div>
    <div class="d-flex justify-content-between mt-5">
        <a href="{% url 'inicio' %}" class="btn btn-secondary">Regresar al Inicio</a>
        <a href="{% url 'lista_clientes' %}" class="btn btn-secondary">Ver Lista de Clientes</a>
    </div>
</div>
{% endblock %}
